@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
@layer base {
  body {
    @apply bg-slate-800 text-white tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
  }

  @font-face {
    font-family: "Lobster";
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
  }
}

@font-face {
  font-family: "Lobster";
  src: url("../public/assets/fonts/lobster/Lobster-Regular.ttf");
}